* {
  background-color: #000000;
  color: #ffffff;
}

.main-container > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.search-bar {
  height: 50px;
  margin-bottom: 20px;
}

.page-title {
  text-align: left;
}
